h2 {
    color: darkslategray;
    font-family: verdana;
    font-style: italic;
    text-align: center;
    padding-bottom: 0.5em;
}

.errorMsg {
    font-size: 110%;
    color: red;
    font-weight: bold;
    text-align: center;
}

a.ui-link{
    text-decoration: none;
}

.ui-btn-inner{
    text-overflow: initial;
    padding-left: 5px;
}